@import "tailwindcss";
@layer base {
  * {
    border-color: #999;
  }
}
@theme {
  --color-primary: rgb(255, 123, 165);
  --color-primary-200: rgb(255, 187, 206);
  --color-sub: rgb(123, 185, 255);
  --color-sub-200: rgb(166, 206, 255);
  --color-third: rgb(255, 229, 123);
  --color-gray: rgb(153, 153, 153);
  --color-gray-600: rgb(130, 130, 130);
  --color-bgGray: rgb(244, 244, 244);
  --color-bgGray-50: rgb(250, 250, 250);
}

:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}

.prompt-light {
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", serif;
  font-weight: 900;
  font-style: normal;
}
